/* Use Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

html {
    font-family: "Noto Sans", "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    color: #263238;
    /*background: #263238;*/
    background: #CFD8DC;
}
a {
    color: #085391;
}
a:hover {
    color: #64B5F6;
}

nav {
  background: #F9A825;
  width: calc(100% - 1em);
}

nav a {
  display: inline-block;
  color: #263238;
  padding: 1em;
  text-decoration: none;
}

nav a:hover {
  background: #F57F17;
  color: #263238;
}

header {
  margin-bottom: 1em;
}

h2 {
  border-bottom: 1px solid #263238;
}

footer {
  border-top: 1px solid #263238;
  padding: 0.4em;
  margin-top: 1em;
}

footer svg {
  transform: translate(0px, 0.25em);
}

footer details {
  float: right;
}

details img {
  float: right;
  margin-top: 40px;
  height: 40vh;
}

h4 {
  margin: 4px 0;
}

summary h2 {
  margin: 0;
  border: 0;
  display: inline;
}

main details[open] summary {
  padding: 2px;
  border-bottom: 1px solid #263238;
}

#r img {
  width: 33%;
  max-height: 75vh;
}

input, textarea, button {
  background: #a5b7c0;
  border: 1px solid #546E7A;
  padding: 2px 4px;
  color: #263238;
}

input[type="button"], input[type="submit"], button {
  background: #a5b7c0;
  margin-top: 0.4em;
}

textarea {
  width: 40vw;
  height: 15vh;
  margin: 2px 0;
}

form {
  margin-top: 0.5em;
}

#terms {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #37474F;
  z-index: 9;
  border: 1px solid #263238;
  padding: 1em;
}

#terms div h2, #terms div span {
  display: inline;
  border: 0;
}

#terms div {
  border-bottom: 1px solid #263238;
}

#terms div a {
  text-decoration: none;
  float: right;
  font-size: 2em;
  transform: translate(0, -0.4em);
}

#shade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0.7;
  background: #333;
}

#lite {
   border: 1px solid #F9A825; 
}
